
.container{
    display: flex;
    border-radius: 4%;
    border-color: rgb(36, 34, 34);
    padding: 40%;
    margin: 10%;
    background-color: rgb(242, 245, 245);
    border-color: rgb(0, 0, 0);
    justify-content: center;
}

.pica{
    justify-content: left;
}

.mitad{
    background-color: rgb(241, 241, 241)


}
.abajo{
    justify-content: end;
}